
<form action="/login" method="post">
    <label for="uName">User Email:</label>
    <input id="uName" type="text" name='userEmail' value="" />
  </br>  </br>  
    <label for="pass">Password:</label>
    <input id="pass" type="password" name="password"/></br>  </br>  </br>  
    <button type="submit" style="padding:7px;background-color:blue;color:aliceblue; cursor: pointer;">Login</button>
   
  </form>
  <form action="/signUp" method="GET">
    <p>Don't have account ? SignUp free!</p>
    <button type="submit" style="padding:5px;background-color:springgreen;cursor: pointer">SignUp</button>
  </form>