
<div style="background-image:url('/images/blog.jpg')">
    <h2 style="background: green;color:white;padding:10px">Signed Up Succsessfully Now You can  login with this account :)
      <span class='w3-button w3-purple'><a class='w3-bar-item w3-button' href='/'>Login</a></span>
    </h2>
</div>